
.vs/Shopping_Tutorial/CopilotIndices/17.13.431.34963/CodeChunks.db

.vs/Shopping_Tutorial/CopilotIndices/17.13.431.34963/CodeChunks.db-shm

.vs/Shopping_Tutorial/CopilotIndices/17.13.431.34963/CodeChunks.db-wal

.vs/Shopping_Tutorial/CopilotIndices/17.13.431.34963/SemanticSymbols.db

.vs/Shopping_Tutorial/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm

.vs/Shopping_Tutorial/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal

.vs/Shopping_Tutorial/FileContentIndex/a2c95230-615f-440f-87e3-0f028f862ab1.vsidx

.vs/Shopping_Tutorial/FileContentIndex/afeff6c6-6b53-47a1-a34a-7812901bb1e5.vsidx

.vs/Shopping_Tutorial/v17/.suo

.vs/Shopping_Tutorial/v17/DocumentLayout.backup.json

.vs/Shopping_Tutorial/v17/DocumentLayout.json

.vs/

Shopping_Tutorial/bin/Debug/net8.0/Shopping_Tutorial.exe
